body {
	font-size:12px;
	font-family: arial;
}
h1 {
	font-size: 28px;
	font-weight: normal;
}
h2 {
	font-size: 24px;
	font-weight: normal;
}
h3 {
	font-size: 20px;
	font-weight: normal;
}
table td.table_header {
	background-color: #f0f0f0;
	font-weight: bold;
}