#php_flag display_errors on

ErrorDocument 401 "Unauthorized Access"

DirectoryIndex index.php
#DirectoryIndex _page.php

RewriteEngine on
Options +FollowSymlinks
RewriteBase /admin/

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)\.(js|css)$ /admin/_file_preprocesser.php?$1.$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(htm|html|php)(.*)$ /admin/index.php?$1.$2?$3 [L,NC,QSA]

