.banners_type_selector_container {
	margin-bottom: 10px;
}

.cms_banners_container {
	margin-top: 10px;
}
.banners_add_banner_image_container {
	padding: 10px;
	border: solid 1px #999;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
}
.banners_banner_add_crop_container {
	padding: 10px 0px;
	text-align: center;
}
.banners_banner_add_crop_container img {
	display: inline-block;
	vertical-align: top;
}
.banners_banner_add_crop_container input[type=button] {
	margin-top: 10px;
}
.jcrop-holder {
	display: inline-block;
}
.banners_banners_list {
	margin-top: 10px;
}
.banners_banner_list_node {
	padding: 10px;
	border: solid 1px #999;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
}
.banners_banner_list_node:hover {
	border: solid 1px #555;
}
.banners_banner_list_node_description {
	text-align: left;
	margin-bottom: 10px;
}
.banners_banner_list_node_description div p {
	margin: 0 0 5px 0;
}

.banner_edit_data_row {
	margin-bottom: 10px;
}
.banner_edit_data_row .hdr {
	font-weight: bold;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}
.banner_edit_data_row .field {
	width: 400px;
	display: inline-block;
	vertical-align: middle;
}

.banner_edit_data_row .field input[type=text] {
	width: 99%;
}
#banner_edit_menu_item_name {
	display: inline-block;
	margin-left: 15px;
}
